# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Project-specific
backend.log
frontend.log
hardhat.log
vite.log
*.pid
api_backup/
certificate-backend/logs/
certificate-backend/database.sqlite*
certificate-backend/uploads/*
!certificate-backend/uploads/.gitkeep
certificate-verification./artifacts/
certificate-verification./cache/
certificate-verification./types/
frontend v2/dist/
frontend v2/.vite/
