services:
  - type: web
    name: blockchain-cert-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: JWT_SECRET
        generate: true
      - key: DB_TYPE
        value: mariadb
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        value: certificate_db
      - key: BLOCKCHAIN_RPC_URL
        sync: false
      - key: BLOCKCHAIN_ADMIN_PRIVATE_KEY
        sync: false
